html, body {
    margin: 0;
    padding: 0;
    background-color: rgb(123, 208, 247);
    overflow-x: hidden;
    width: 100%;
}

/* --- MODEL VIEWER: Subida agresiva --- */
model-viewer {
    width: 100;
    height: 100;
    border: none;
}
